.main {
  padding: 80px 60px;
  display: flex;
}
.origin_img {
  width: 450px;
  height: 400px;
}
.img_block {
  width: 650px;
}
.user_img {
  width: 50px;
  height: 50px;
}
.chat_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  :not(:first-child) {
    margin-left: 15px;
  }
  :nth-child(4) {
    margin-left: 5px;
  }
}
.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.chat {
  background-color: #2f2f2f;
  padding: 10px 40px;
  border-radius: 30px;
  align-items: center;
  display: flex;
  max-width: 200px;
  border: none;
  font-size: 18px;
  transition: 0.3s;
  cursor: pointer;
}
.chat:hover {
  background-color: #575757;
  transition: 0.3s;
}
.edit {
  background-color: #2f2f2f;
  padding: 5px 30px;
  border-radius: 30px;
  align-items: center;
  display: flex;
  cursor: pointer;
  transition: 0.3s;
}
.edit:hover {
  background-color: #575757;
  transition: 0.3s;
}

.inf_block {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 25px;
  h4 {
    font-size: 30px;
    font-weight: bold;
  }
}
.bookmark {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.none {
  display: none;
}
.overview {
  font-weight: bold;
  font-style: italic;
  padding-right: 10px;
}
.tags_box {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  row-gap: 10px;
}
.overview_tags {
  background-color: #7f7f7f;
  color: white;
  padding: 2px 15px;
  border-radius: 10px;
  margin-left: 10px;
}
.description {
  padding: 0px 60px 40px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
  h3 {
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
  }
  p {
    font-size: 20px;
  }
}

@media (max-width: 1024px) {
  .inf_block {
    font-size: 18px;
    h4 {
      font-size: 25px;
    }
  }
  .user_img {
    width: 45px;
    height: 45px;
  }
}
@media (max-width: 786px) {
  .main {
    padding: 80px 60px 20px 60px;
    display: grid;
  }
  .inf_block {
    margin-left: 0px;
    display: flex;
    min-height: 300px;
    font-size: 25px;
  }
  .chat_row {
    justify-content: start;
  }
}
@media (max-width: 426px) {
  .main {
    padding: 80px 20px 10px 20px;
  }
  .description {
    padding: 0px 20px 40px;
  }
  .img_block {
    width: 390px;
    height: 350px;
    img {
      width: 390px;
    }
  }
  .inf_block {
    margin-top: 200px;
  }
}
@media (max-width: 376px) {
  .img_block {
    width: 340px;
    height: 350px;
    img {
      width: 340px;
    }
  }
}
@media (max-width: 361px) {
  .main {
    padding: 80px 15px 10px 15px;
  }
  .img_block {
    width: 325px;
    img {
      width: 325px;
    }
    height: 320px;
  }
}
