.header {
  display: grid;
  grid-template-columns: 75% 25%;
  border-bottom: 5px solid #2f2f2f;
  padding: 20px 80px;
}
.block_header {
  display: flex;
  align-items: center;

  > *:not(:first-child) {
    margin-left: 45px;
  }
}
.block_header_user {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  > *:not(:first-child) {
    margin-left: 45px;
  }
}
.logo {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.link {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 5px;
}
.link:hover {
  border-bottom: 1px solid white;
}
.search {
  display: flex;
  align-items: center;
  > *:not(:first-child) {
    margin-left: 10px;
  }
}
.burger_button {
  background-color: transparent;
  border: none;
  text-align: center;
}
.burger_button_user {
  background-color: transparent;
  border: none;
  text-align: center;
}
.add_button {
  background-color: #2f2f2f;
  padding: 10px 20px;
  border-radius: 30px;
  text-align: center;
  font-weight: bold;
  :hover {
    border-bottom: none;
  }
}
.block {
  display: block;
}
.none {
  display: none;
}
.none_one {
  display: none;
}
.none_two {
  display: none;
}
.user_ico {
  cursor: pointer;
}
.menu_user {
  margin-top: 5px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: absolute;
  right: 50px;
  top: 80px;
  background-color: #2f2f2f;
  padding: 10px 20px 20px;
  border-radius: 10px;
  > *:not(:first-child) {
    padding-top: 25px;
    font-size: 15px;
  }
}

.notification_div {
  max-height: 400px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  span {
    color: #605f5f;
    align-self: flex-end;
  }
}

@media (max-width: 1024px) {
  .header {
    grid-template-columns: 65% 35%;
    padding: 20px 50px;
  }
  .block_header {
    display: flex;
    align-items: center;

    > *:not(:first-child) {
      margin-left: 25px;
    }
  }
}
@media (max-width: 768px) {
  .header {
    grid-template-columns: 65% 35%;
    padding: 15px 20px;
  }
  .block_header {
    display: flex;
    align-items: center;

    > *:not(:first-child) {
      margin-left: 15px;
    }
  }
  .block_header_user {
    > *:nth-child(1) {
      font-size: 14px;
    }
  }
  .link {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
  }
  .add_button {
    background-color: #2f2f2f;
    padding: 5px 10px;
    border-radius: 30px;
    text-align: center;
    font-weight: bold;
  }
}
@media (max-width: 426px) {
  .block_header_user {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    > *:not(:first-child) {
      margin-left: 25px;
    }
  }
  .menu_user {
    right: 10px;
    top: 60px;
    > *:not(:first-child) {
      padding-top: 25px;
      font-size: 15px;
    }
  }
  .burger_button {
    background-color: transparent;
    border: none;
    text-align: center;
  }
  .burger_button_user {
    background-color: transparent;
    border: none;
    text-align: center;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
    border-bottom: 3px solid #2f2f2f;
  }
}
@media (max-width: 376px) {
  .block_header_user {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    > *:not(:first-child) {
      margin-left: 15px;
    }
  }
  .menu {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    border-bottom: 3px solid #2f2f2f;
  }
}
