.main {
  padding: 30px 70px;
  h1 {
    font-size: 36px;
    border-bottom: 1px solid white;
    display: inline-block;
    padding-bottom: 5px;
  }
  h3 {
    margin-top: 20px;
  }
  img {
    border-radius: 30px;
    margin-top: 30px;
  }
  button {
    background-color: #424242;
    display: block;
    outline: none;
    border: none;
    font-size: 22px;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 30px;
    cursor: pointer;
  }
  input {
    display: block;
    margin-top: 20px;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: #c2c2c2;
    color: black;
    padding: 6px 30px;
    font-size: 18px;
  }
}
@media (max-width: 376px) {
.main{
    padding: 25px 40px;
}
}
